.saludoContainer {
    display:flex;
    justify-content: center;
    align-items: center;    
    background-image: url(/public/banner.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;        
    height: 250px;
    font-size: 2rem;       
    border-bottom: 1px solid pink; 
    
}

.saludoContainer h1{
    font-size: 3.5rem;
    background-color: rgba(0, 0, 0, 0.335);
    border-radius: 25px;
    padding: 25px;
    height: fit-content;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    

}


