.navbarContainer {
    display: flex;    
    width: 100%;
    justify-content: space-between;
    border-bottom: 3px solid pink;
}

.navbarItem {
    list-style: none;
    display: inline-block;    
}

.navbarButton {
    font-style: none;
    border: none;
    font-size: 2rem;
    padding: 15px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(146, 146, 146, 0);
    color: rgb(192, 156, 156);   
    display: inline;
    text-decoration: none;      
}

.navbarButton:hover {
    scale: 1.2;
    transition: all .8s;
    cursor: pointer;
    box-shadow: inset 200px 0 0 0 pink;
    color: white;
}

.navbarLogo {
    display: inline-block;
}


.navbarUl {
    
}